# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/vscp-0.4.0-win32.exe
/vscp-1.0.0-win32.exe
/vscp-1.0.0.43-win32.exe
/vscp-1.0.0.43-win32.zip
/vscp-1.0.1-x86.exe
/vscp-1.0.1.2-x86.exe
/vscp-1.0.1.2-x86.exe.zip
/vscp-1.0.1.3-x86.exe
/vscp-1.0.1.3-x86.exe.zip
