# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/vscp-0.4.0-win32.exe
/vscp-1.0.0-win32.exe
/vscp-1.0.0.43-win32.exe
/vscp-1.0.0.43-win32.zip
/vscp-1.0.1-x86.exe
/vscp-1.0.1.2-x86.exe
/vscp-1.0.1.2-x86.exe.zip
/vscp-1.0.1.3-x86.exe
/vscp-1.0.1.3-x86.exe.zip
/vscp-1.1.0-x86.exe
/vscp-1.1.0-x64-rc1.exe
/vscp-1.1.0-x64-rc1.exe.zip
/vscp-1.1.0-x64-rc2.exe
/vscp-1.1.0-x64-rc2.exe.zip
/vscp-1.1.0-x64-rc3.exe
/vscp-1.1.0-x64-rc3.exe.zip
/vscp-1.1.0-x86-rc1.exe
/vscp-1.1.0-x86-rc1.exe.zip
/vscp-1.1.0-x86-rc2.exe
/vscp-1.1.0-x86-rc2.exe.zip
/vscp-1.1.0-x86-rc3.exe
/vscp-1.1.0-x86-rc3.exe.zip
/vscp-1.1.0.3-x64.exe
/vscp-1.1.0.3-x64.exe.zip
/vscp-1.1.0.3-x86.exe
/vscp-1.1.0.3-x86.exe.zip
/vscp-1.1.0.5-x64.exe
/vscp-1.1.0.5-x64.exe.zip
/vscp-1.1.0.5-x86.exe
/vscp-1.1.0.5-x86.exe.zip
/vscp-1.12.22-x64.exe
/vscp-1.12.22-x86.exe
